<header>
    <div class="navbar bg-primary shadow-sm">
        <div class="navbar-brand align-item-center d-flex">

            <div class="navbar-brand end">
                <a class="navbar-item">
                    <img width="75" src="assets/img/flipkart.png" alt="flipkart" class="flipkart" title="flipkart">
                </a>

                <a class=" text-white exploree">
          Explore <span class="us">plus</span>
          <!-- <span>plues</span> -->
          <img width="15" src="assets/img/plus.png" alt="plus" class="plus" title="plus">
        </a>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search for products,brands and more">
            </div>

            <div class="right-menu">
                <button class="btnh " (mouseover)="showDrop()">Login</button>

        
                <div class="dropdown-menu">
                    <div class="bottomPop">
                    </div> 
                    <h4 class="new">New customer?</h4>
                    <a href="#" class="val" routerLink="signup">Sign Up</a>
                    <hr>
                    <a href="#" class="login" routerLink="myprofile">My Profile</a>
                    <hr>
                    <a href="#" class="login" routerLink="flipkart-plus-zone">Flipkart Plus Zone</a>
                    <hr>
                    <a href="#" class="login" routerLink="orders">Order</a>
                    <hr>
                    <a href="#" class="login" routerLink="wishlist">Wishlist</a>
                    <hr>
                    <a href="#" class="login" routerLink="rewards">Rewards</a>
                    <hr>
                    <a href="#" class="login" routerLink="giftcards">Gift Cards</a>
                    <hr>
                    <a href="#" class="login" routerLink="home">Home</a>

                </div>

            </div>


            <ul class="navbar-nav text-white">
                <li class="nav-item">
                    <a class="nav-link" routerLink="become-seller">Become a Seller</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" routerLink="more">More</a>
                </li>
                <i class="fa fa-shopping-cart cart-shop" aria-hidden="true"></i>
                <li class="nav-item">
                    <a class="nav-link " routerLink="cart">Cart</a>
                </li>
            </ul>

        </div>
    </div>
</header>