<div *ngIf="cli" class="container-fluid">
    <h1>Bootcamp Enrollment form (TDF)</h1>
    <form #userForm="ngForm">
        {{userForm.value | json}}
        <hr/> {{userModel | json}}

        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" name="name" [ngModel]="userModel.name">
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" name="email" [ngModel]="userModel.email">
        </div>
        <div class="form-group">
            <label>Phone</label>
            <input type="tel" class="form-control" name="phone" [ngModel]="userModel.phone">
        </div>

        <!--this is ngModel group directives group of property : adress containts four different properties -->
        <div ngModelGroup="address">
            <div class="form-group">
                <label>Street</label>
                <input type="text" class="form-control" name="street" [ngModel]="userModel.street">
            </div>
            <div class="form-group">
                <label>City</label>
                <input type="text" class="form-control" name="city" [ngModel]="userModel.city">
            </div>
            <div class="form-group">
                <label>State</label>
                <input type="text" class="form-control" name="state" [ngModel]="userModel.state">
            </div>
            <div class="form-group">
                <label>Postal Code</label>
                <input type="text" class="form-control" name="postalCode" [ngModel]="userModel.postalCode">
            </div>
        </div>

        <div class="from-group">
            <select class="custom-select" name="topics" [ngModel]="userModel.topic">
                <!--[ngModel]="userModel.name" this is an  property  data binding it does not change property of model
                    ** property data binding is a one way data binding which data flowes from class to view but it does not flows black to class from view 
                   2**  [(ngModel)="userModel.name"] --this is two way binding (banana in a box) if we use this it updates in the angular object and model-->
            <option>Iam interested in</option>
            <option *ngFor="let topic of topics" >{{topic}}</option>
        </select>
        </div>
        <div>
            <label>Time Preference </label>
            <div>
                <input msg class="form-check-input" type="radio" name="timePreference" value="morning" [ngModel]="userModel.timePreference">
                <label class="form-class-label">Morning (9AM -12AM)</label>
            </div>
            <div>
                <input #msg class="form-check-input" type="radio" name="timePreference" value="evening" [ngModel]="userModel.timePreference">
                <label class="form-class-label">Evening(5PM - 8PM)</label>
            </div>
        </div>
        <div class="form-check mb-3">
            <input class="form-check-input" type="checkbox" name="subscribe" [ngModel]="userModel.subscribe">
            <label class="form-check-label">Send me promotion offers</label>
        </div>


        <button (click)="onClick(msg.value)" class="btn btn-primary" type="submit">Submit form</button>
    </form>
</div>