.card-top{
    position: relative;
    display:flex;
    flex-direction:column;
    min-width:0;
    word-wrap:break-word;
    background: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 2);
    border-radius: .25rem;

}
.img{
    width: 90px;
    height: 90px;
    margin-right: 38px;
}
.name{
    text-align: center;
    margin-left: -32px;
    color: black;
    font-size: small;
    font-weight: 500;
}